.sarici {
  border: solid 1px;
  border-radius: 6px;
  border-color: #eee;
}

input {
  width: 100%;
  /*display: none;*/
  /*font-size: 30px;*/
  color: #999;
  border: none;
}

input:focus {
  outline: none;
}

#aciklama {
  display: block;
  font-size: 30px;
}

.sarici {
  border: solid 1px;
  border-color: #ccc;
  border-radius: 6px;
  padding: 10px 4px;
  height: 100px;
}

